<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> FAQ | LaboratoriumTI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="<?php echo base_url();?>assets/ray/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="<?php echo base_url();?>assets/ray/font-awesome/css/font-awesome.min.css" />
    <script src="<?php echo base_url();?>assets/ray/js/jquery-1.10.2.min.js"></script>
    <script src="<?php echo base_url();?>assets/ray/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/ray/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

<div class="page-header">
    <h1>FAQ <small> [Frequently Asked Questions]</small></h1>
</div>

<!-- Bootstrap FAQ - START -->
<div class="container">
    <br />
    <br />
    <br />

    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        This section contains a wealth of information, related to <strong>LaboratoriumTI</strong>. If you cannot find an answer to your question, 
        make sure to contact us. 
    </div>

    <br />

    <div class="panel-group" id="accordion">
        <div class="faqHeader">General questions</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Apakah Login diperlukan ?</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    Login <strong>akun</strong> sangat dibutuhkan agar dapat melihat fitur yang sudah disediakan didalam website. 
                </div>
            </div>
        </div>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">Bagaimana cara register akun ?</a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse">
                <div class="panel-body">
                    Pada navbar halaman utama, tekan menu <strong>LOGIN</strong> tekan pada <strong>"Register disini.". Masukkan semua data dengan benar lalu tekan <strong>DAFTAR</strong></strong>.
                </div>
            </div>
        </div>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTeen">Kenapa foto saya tidak muncul ?</a>
                </h4>
            </div>
            <div id="collapseTeen" class="panel-collapse collapse">
                <div class="panel-body">
                    Pada saat melakukan <strong>Register </strong> pastikan NIM sudah benar. Foto otomatis diambil dari DIR MAHASISWA USU berdasarkan NIM terdaftar. Jika NIM tidak ditemukan, maka foto pada dashboard tidak akan muncul.
                </div>
            </div>
        </div>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">Bagaimana cara mengganti password ?</a>
                </h4>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse">
                <div class="panel-body">
                    Untuk mengganti password harap menghubungi BPH atau bisa menghubungi <strong>Instagram</strong> <a href="https://www.instagram.com/">@laboratoriumtiusu</a> <strong> Email </strong>laboratoriumtiusu@gmail.com <strong>Whatsapp </strong> +62 812-6292-9762  
                </div>
            </div>
        </div>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Bagaimana cara mendaftar menjadi Asisten Lab ?</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    Ada dua cara untuk mendaftar menjadi asisten lab :
                    <ul>
                    <li>Pada halaman utama bagian paling bawah, ada rekruitmen <strong>Ayo Jadi Asisten Lab</strong> klik <strong>Daftar</strong>.</li> 
                    <li>Cara kedua, masuk ke <strong>Dashboard</strong> pada kolom <strong>PENDFATARAN ASLAB</strong> klik <strong>Daftar Aslab</strong> </li>
                </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Bagaimana cara menambah kelas ?</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    Pada halaman utama dibagian menu tekan <strong>Kelas</strong> lalu pilih <strong>Tambah Kelas</strong>. Lalu masukkan kode kelas yang sudah dibagikan, tekan <strong>Gabung</strong>.
                </div>
            </div>
        </div>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Apa saja yang dibutuhkan untuk menjadi Asisten Lab ?</a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                    Yang dibutuhkan saat ingin mendaftar menjadi Asisten Lab :
                   
                        <ol>
                        <li>NIM</li>
                        <li>Mata Kuliah Pilihan 1</li>
                            <ul>
                                <li type="a">Nilai matkul di Kelas</li>
                                <li type="a">Nilai matukul di Lab</li>
                            </ul>
                        <li>Mata Kuliah Pilihan 2</li>
                            <ul>
                                <li type="a">Nilai matkul di Kelas</li>
                                <li type="a">Nilai matukul di Lab</li>
                            </ul>
                        <li>No Whatsapp/Line ID</li>
                        <li>Curiculum Vitae</li>
                        <li>Surat Pendaftaran</li>
                        <li>Alasan Menjadi Aslab (500 kata)</li>
                    </ol>
                 
                    
                </div>
            </div>
        </div>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Bagaimana cara melihat jadwal kelas ?</a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body">
                    Pada halaman utama di menu, pilih <strong>Jadwal</strong>.
                </div>
            </div>
        </div>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">Informasi pergantian jadwal</a>
                </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse">
                <div class="panel-body">
                    Informasi pergantian kelas akan diinformasikan melalui email yang terdaftar.
                </div>
            </div>
        </div>
        
    </div>
</div>

<style>
    .faqHeader {
        font-size: 27px;
        margin: 20px;
    }

    .panel-heading [data-toggle="collapse"]:after {
        font-family: 'Glyphicons Halflings';
        content: "\e072"; /* "play" icon */
        float: right;
        color: #F58723;
        font-size: 18px;
        line-height: 22px;
        /* rotate "play" icon from > (right arrow) to down arrow */
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .panel-heading [data-toggle="collapse"].collapsed:after {
        /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        color: #454444;
    }
</style>

<!-- Bootstrap FAQ - END -->

</div>
<HR>
<footer >
                <div class="container">
                    <div class="footer-bottom row align-items-center justify-content-between">
                        <p class="footer-text m-0 col-lg-6 col-md-12">
                                                        Copyright &copy; 2019 - Kelompok 10 IMK
                                                </p>
                        <div>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-behance"></i></a>
                        </div>
                    </div>                      
                </div>
            </footer>   
</body>
</html>